---
layout: main
title: Level 4 Title
permalink: /l1/l2/l3/l4/
---

<section class="bg-white py-5">
  <div class="container">

    <div class="row">

      <div class="col-md-7 col-lg-8">

        <div class="rte">

          <!-- body -->
          <p class="lead">
            You can adopt dogs and cats at <a href="#">The Pet Resource Center</a>. The center is open Tuesday through Sunday from 10 a.m. to 7 p.m. Closed on Mondays. Call (813) 744-5660.
          </p>

          <div class="row">
            <div class="col-6">
              <p>
                <a href="#" class="btn btn-primary btn-block">Search Dogs</a>
              </p>
            </div>
            <div class="col-6">
              <p>
                <a href="#" class="btn btn-primary btn-block">Search Cats</a>
              </p>
            </div>
          </div>

          <h3>Ready-to-go Adoptions</h3>

          <p> Animals which have completed their "Stray Hold" time and have been spayed/neutered and fully vaccinated are considered "ready-to-go". Any animal in a "ready-to-go" status  can go home with you today. All "ready-to-go" adoptions are $20, unless otherwise noted.</p>

          <h3>Pre-Adoptions</h3>

          <p>Animals that are beyond their hold period that are still waiting to be provided with veterinary services are available for early adoption, but cannot be released to the adopter until the necessary vaccinations and procedures have been administered. We can’t hold or reserve any animal outside of the early adoption process. Pre-adoption prices do not include the $20 rabies license fee.</p>

          <h3>Pricing for Pre-Adoptions</h3>

          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Description</th>
                <th>Pre-Adoption</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Large Breed Dogs over 25 pounds</td>
                <td>$85</td>
              </tr>
              <tr>
                <td>Puppies and Small Dogs under 25 pounds</td>
                <td>$125</td>
              </tr>
              <tr>
                <td>Senior Citizen (62+ years) Large Breed Dogs over 25 pounds</td>
                <td>$35</td>
              </tr>
              <tr>
                <td>Senior Citizen (62+ years) Puppies and Small Dogs under 25 pounds</td>
                <td>$65</td>
              </tr>
              <tr>
                <td>Cats</td>
                <td>$50</td>
              </tr>
              <tr>
                <td>Dog Sterilization Deposit (If released intact)</td>
                <td>$100</td>
              </tr>
              <tr>
                <td>Cat Sterilization Deposit (If released intact)</td>
                <td>$70</td>
              </tr>
            </tbody>
          </table>

          <p><strong>Please Note</strong>: Pre-adoption prices do not include the $20 rabies license fee</p>

          <h3>Adoption Process</h3>

          <p>For all adoptions you must go to the <a href="/en/locations/pet-resource-center" title="Pet Resource Center location information">Pet Resource Center</a> in person during regular operating hours, Tuesday through Sunday from 10 a.m. to 7 p.m.</p>

        </div>

      </div>

      <div class="col-md-5 col-lg-4">

        <hr class="d-md-none">

        <div class="sticky">


          <!-- department(s) info -->
          <div class="mb-3">
            {% include card-button-icon.html text='Pet Resource Center' icon='fa-paw' %}
          </div>

          <!-- related actions -->
          <ul class="nav flex-column small mb-4">
            <li class="nav-item">
              <a class="nav-link" href="{{ '/l1/l2/l3/l4a/' | prepend: site.baseurl }}">Spay & Neuter Voucher Application</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ '/l1/l2/l3/l4a/' | prepend: site.baseurl }}">Related Action</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ '/l1/l2/l3/l4a/' | prepend: site.baseurl }}">Related Action</a>
            </li>
          </ul>

          <!-- tags -->
          <ul class="list-inline mb-4">
            <li class="badge badge-info text-white">tag</li>
            <li class="badge badge-info text-white">word</li>
            <li class="badge badge-info text-white">tag</li>
            <li class="badge badge-info text-white">word</li>
          </ul>

          <!-- last modified -->
          <p class="text-muted small text-right">
            <strong>
              Last modified:
            </strong>
            Date
          </p>

        </div>
      </div>

    </div>

  </div>
</section>

{% include related-news-events.html %}
