---
layout: main
title: Newsroom
permalink: /newsroom/
---

<section class="bg-white py-5">
  <div class="container">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="row align-items-center">
        <div class="col-md-7 order-md-12 mb-3">

          <div class="carousel-inner">
            <div class="carousel-item active">

              <a href="#" class="list-group-item-action">
                <h3 class="font-serif">
                  Fighting Fire with Fire: Burns Help Snuff Wildfire Threat
                </h3>
              </a>

              <p class="text-muted small mb-0">
                <strong>Posted:</strong> post.date
              </p>

              <hr class="mt-1">

              <div class="lead font-serif font-italic mb-2">
                Burning fire fuel protects residents, property, and homes
              </div>

              <p>
                Fighting fire with fire is an age-old idiom that even Shakespeare referenced in King John, but when...
              </p>

              <p>
                <a href="#" class="font-serif font-italic">Continue Reading...</a>
              </p>

            </div>
            <div class="carousel-item">

              <a href="#" class="list-group-item-action">
                <h3 class="font-serif">
                  2 Fighting Fire with Fire: Burns Help Snuff Wildfire Threat
                </h3>
              </a>

              <p class="text-muted small mb-0">
                <strong>Posted:</strong> post.date
              </p>

              <hr class="mt-1">

              <div class="lead font-serif font-italic mb-2">
                Burning fire fuel protects residents, property, and homes
              </div>

              <p>
                Fighting fire with fire is an age-old idiom that even Shakespeare referenced in King John, but when...
              </p>

              <p>
                <a href="#" class="font-serif font-italic">Continue Reading...</a>
              </p>

            </div>
            <div class="carousel-item">

              <a href="#" class="list-group-item-action">
                <h3 class="font-serif">
                  3 Fighting Fire with Fire: Burns Help Snuff Wildfire Threat
                </h3>
              </a>

              <p class="text-muted small mb-0">
                <strong>Posted:</strong> post.date
              </p>

              <hr class="mt-1">

              <div class="lead font-serif font-italic mb-2">
                Burning fire fuel protects residents, property, and homes
              </div>

              <p>
                Fighting fire with fire is an age-old idiom that even Shakespeare referenced in King John, but when...
              </p>

              <p>
                <a href="#" class="font-serif font-italic">Continue Reading...</a>
              </p>

            </div>
          </div>

        </div>
        <div class="col-md-5 order-md-1">

          <a href="#" class="embed-responsive embed-responsive-16by9 mb-1">
            <div class="embed-responsive-item p-1">
              <img src="http://hcflgov.net/library/hillsborough/controlled-burn_nr.jpg?h=475&w=845&la=en&hash=330BF6350F4D8523B2F196DD296428F1074C267F" alt="" class="img-fluid">
            </div>
          </a>

          <!-- indicators -->
          <ol class="list-unstyled row no-gutters mb-3">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="col-4 active">
              <div class="embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item p-1">
                  <img src="https://github.com/Commbocc/sitecore_designs/blob/gh-pages/images/news-pets.jpg?raw=true" alt="" class="img-fluid">
                </div>
              </div>
            </li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="col-4">
              <div class="embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item p-1">
                  <img src="https://github.com/Commbocc/sitecore_designs/blob/gh-pages/images/news-pets.jpg?raw=true" alt="" class="img-fluid">
                </div>
              </div>
            </li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="col-4">
              <div class="embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item p-1">
                  <img src="https://github.com/Commbocc/sitecore_designs/blob/gh-pages/images/news-pets.jpg?raw=true" alt="" class="img-fluid">
                </div>
              </div>
            </li>
          </ol>

        </div>
      </div>
    </div>

  </div>
</section>

<section class="bg-light py-5">
  <div class="container">

    <div class="sticky-top bg-light">
      <ul class="list-inline small py-2 py-md-1">
        <li class="list-inline-item mr-3">
          <input class="form-check-input mx-0" type="checkbox" id="inlineCheckbox1" checked>
          <label class="form-check-label" for="inlineCheckbox1">Articles</label>
        </li>
        <li class="list-inline-item mr-3">
          <input class="form-check-input mx-0" type="checkbox" id="inlineCheckbox2" checked>
          <label class="form-check-label" for="inlineCheckbox2">Videos</label>
        </li>
        <li class="list-inline-item mr-3">
          <input class="form-check-input mx-0" type="checkbox" id="inlineCheckbox3" checked>
          <label class="form-check-label" for="inlineCheckbox3">Events</label>
        </li>
        <li class="list-inline-item mr-3">
          <input class="form-check-input mx-0" type="checkbox" id="inlineCheckbox4" checked>
          <label class="form-check-label" for="inlineCheckbox4">Press Releases</label>
        </li>
      </ul>
    </div>

    <!--  -->
    <h4 class="mt-5 font-serif">Friday, February 2, 2018</h4>
    <hr class="mt-0">
    <div class="card-columns hc-card-columns-newsroom mb-3">

      {% include card-day-events.html %}

    </div>

    {% for day in (1..5) %}
    <h4 class="mt-5 font-serif">Thursday, February 1, 2018</h4>
    <hr class="mt-0">
    <div class="card-columns hc-card-columns-newsroom mb-3">
      {% for card in site.data.news_events %}
      {% include card-news-event.html card=card %}
      {% endfor %}

      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" class="embed-responsive-item"></iframe>
        </div>
      </div>

      {% include card-day-events.html %}

    </div>
    {% endfor %}

    <!--  -->

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

  </div>
</section>
