---
layout: main
title: County Leadership
permalink: /leadership/
---

<section class="bg-white py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-7 col-lg-8">

        <h3>Communications</h3>

        {% include contact-card.html %}
        {% include contact-card.html %}
        {% include contact-card.html %}

      </div>
      <div class="col-md-5 col-lg-4">

        <div class="sticky">
          <!-- related -->
          <ul class="nav flex-column small mb-4">
            <li class="nav-item">
              <a class="nav-link" href="{{ '/l1/l2/l3/l4/' | prepend: site.baseurl }}">Related Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ '/l1/l2/l3/l4/' | prepend: site.baseurl }}">Related Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ '/l1/l2/l3/l4/' | prepend: site.baseurl }}">Related Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ '/l1/l2/l3/l4/' | prepend: site.baseurl }}">Related Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ '/l1/l2/l3/l4/' | prepend: site.baseurl }}">Related Info</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</section>
