{% capture link %}
{% if include.link %}
{{ include.link | prepend: site.baseurl }}
{% else %}
#
{% endif %}
{% endcapture %}

<a href="{{ link | strip_newlines }}" class="card list-group-item-action h-100">
  <div class="row h-100 no-gutters align-items-center text-secondary">
    <div class="col-3 align-self-stretch py-4 bg-light text-secondary text-center">
      <span class="fa fa-fw fa-2x {{ include.icon }}"></span>
    </div>
    <div class="col-9 p-3">
      <h5 class="m-0">
        {{ include.text }}
      </h5>
    </div>
  </div>
</a>
