<div class="card card-body rounded-0 mb-3">
  <div class="media">
    <img src="http://hcflgov.net/library/hillsborough/head-shots/full/lopezliana.jpg?la=en" alt="" class="mr-3" style="max-width: 128px;">
    <div class="media-body">

      <h4 class="mt-0">Liana Lopez
        <small class="text-muted"><br>Chief Communications Officer</small>
      </h4>

      <div class="list-group list-group-flush">
        <a href="#tel" class="list-group-item list-group-item-action d-flex align-items-center">
          <span class="mr-3 fa fa-fw fa-1x fa-phone"></span>
          (813) 555-5555
        </a>
        <a href="#mailto" class="list-group-item list-group-item-action d-flex align-items-center">
          <span class="mr-3 fa fa-fw fa-1x fa-envelope"></span>
          Email
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
          <span class="mr-3 fa fa-fw fa-1x fa-user"></span>
          <span>
            <strong>Admin Assistant:</strong> Stacie Ciucio
          </span>
        </a>
      </div>

    </div>
  </div>
</div>
