<div class="card border-0 mb-3">
  <!-- map -->
  <div class="embed-responsive embed-responsive-4by3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3524.4880983928897!2d-82.45696014969735!3d27.94833428260775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c48b3e2c7bc3%3A0xd9064eff5a6c4670!2sHillsborough+County+Center!5e0!3m2!1sen!2sus!4v1519163963007" class="embed-responsive-item" allowfullscreen></iframe>
  </div>

  <div class="list-group list-group-flush">
    <a href="#location" class="list-group-item list-group-item-action">
      <div class="media">
        <span class="mr-3 align-self-center text-secondary fa fa-fw fa-2x fa-map-marker" aria-hidden="true"></span>
        <div class="media-body">
          <!-- Model.Location.Name -->
          <h5 class="my-0">Hillsborough County Center</h5>
          <!-- Model.LocationNote -->
          21st Floor
        </div>
      </div>
    </a>
    <a href="#leadership" class="list-group-item list-group-item-action">
      <div class="media">
        <span class="mr-3 align-self-center text-secondary fa fa-fw fa-2x fa-user" aria-hidden="true"></span>
        <div class="media-body">
          <h6 class="my-0 text-muted">Department Director</h6>
          <!-- Model.Director -->
          Annette Spina
        </div>
      </div>
    </a>
    <a href="#mailto" class="list-group-item list-group-item-action">
      <div class="media">
        <span class="mr-3 align-self-center text-secondary fa fa-fw fa-2x fa-envelope" aria-hidden="true"></span>
        <div class="media-body">
          <h6 class="my-0 text-muted">Email</h6>
          <!-- Model.Contact.Name -->
          Kim Howell
        </div>
      </div>
    </a>
    <a href="#tel" class="list-group-item list-group-item-action">
      <div class="media">
        <span class="mr-3 align-self-center text-secondary fa fa-fw fa-2x fa-phone" aria-hidden="true"></span>
        <div class="media-body">
          <h6 class="my-0 text-muted">Call</h6>
          <!-- Model.Contact.Phone -->
          (813) 555-5555
        </div>
      </div>
    </a>
  </div>
</div>
