<div class="row">
  <div class="col-md-6 col-lg-4 align-self-stretch mb-4">
    {% include card-button-icon.html text='Adopt a Dog or Cat' icon='fa-paw' link='/l1/l2/l3/' %}
  </div>
  <div class="col-md-6 col-lg-4 align-self-stretch mb-4">
    {% include card-button-icon.html text='Visit the Pet Resource Center' icon='fa-building' link='/l1/l2/l3/' %}
  </div>
  <div class="col-md-6 col-lg-4 align-self-stretch mb-4">
    {% include card-button-icon.html text='Lost &amp; Found Pets' icon='fa-search' link='/l1/l2/l3/' %}
  </div>
  <div class="col-md-6 col-lg-4 align-self-stretch mb-4">
    {% include card-button-icon.html text='Nuisance Animal Noise Ordinance' icon='fa-volume-up' link='/l1/l2/l3/' %}
  </div>
  <div class="col-md-6 col-lg-4 align-self-stretch mb-4">
    {% include card-button-icon.html text='Pet Adoption' icon='fa-paw' link='/l1/l2/l3/' %}
  </div>
  <div class="col-md-6 col-lg-4 align-self-stretch mb-4">
    {% include card-button-icon.html text='Pet Advocacy' icon='fa-heart' link='/l1/l2/l3/' %}
  </div>
  <div class="col-md-6 col-lg-4 align-self-stretch mb-4">
    {% include card-button-icon.html text='Pet Ownership' icon='fa-user' link='/l1/l2/l3/' %}
  </div>
  <div class="col-md-6 col-lg-4 align-self-stretch mb-4">
    {% include card-button-icon.html text='Report Animal Emergency or Cruelty' icon='fa-warning' link='/l1/l2/l3/' %}
  </div>
  <div class="col-md-6 col-lg-4 align-self-stretch mb-4">
    {% include card-button-icon.html text='Volunteer &amp; Help Pet Resources' icon='fa-plus' link='/l1/l2/l3/' %}
  </div>
</div>
