<ul class="list-inline text-center text-primary my-4">
  <li class="list-inline-item">
    <span class="fa fa-facebook-f fa-2x fa-fw"></span>
  </li>
  <li class="list-inline-item">
    <span class="fa fa-twitter fa-2x fa-fw"></span>
  </li>
  <li class="list-inline-item">
    <span class="fa fa-youtube fa-2x fa-fw"></span>
  </li>
  <li class="list-inline-item">
    <span class="fa fa-linkedin fa-2x fa-fw"></span>
  </li>
  <li class="list-inline-item">
    <span class="fa fa-instagram fa-2x fa-fw"></span>
  </li>
</ul>
