---
layout: main
---

<section class="bg-white py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-7 col-lg-8">

        {{ content }}

      </div>
      <div class="col-md-5 col-lg-4">

        {% include department-info.html %}

        <div class="text-center">
          <p>
            <a href="#" class="btn btn-outline-primary btn-lg btn-wrap">Visit the Hillsborough County Newsroom</a>
          </p>
        </div>

      </div>
    </div>

  </div>
</section>
